
### Terraform ###

# Local .terraform directories
**/.terraform/*

# Local Terragrunt Cache
**/.terragrunt-cache/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

# Crash log files
crash.log
crash.*.log

.DS_Store
**/.DS_Store


